# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions>=1.22.0b2
azure-storage-queue>=12.9.0
azure-storage-blob>=12.21.0
openai>=1.51.0
azure-cosmos==4.9.0
requests>=2.32.0
azure-identity>=1.16.0
pytest>=8.2.0
